.idea/
**/.DS_Store
tmp/
**/main

# 运行时配置文件
**/config.yml
**/config.yaml

# 忽略所有的log文件
**/*.log

# 生成的二进制文件全部不跟踪
**/*-linux
**/*-mac

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

